useDynLib(Ease, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
export(setEase)
export(setGenome)
export(setMutationMatrix)
export(setMutationMatrixByRates)
export(setSelectNeutral)
export(setSelectOnGametes)
export(setSelectOnGametesProd)
export(setSelectOnInds)
exportClasses(Ease)
exportClasses(Genome)
exportClasses(MutationMatrix)
exportClasses(Selection)
exportMethods(plot)
exportMethods(print)
exportMethods(show)
exportMethods(simulate)
exportMethods(summary)
import(ggplot2)
import(ggpubr)
import(tidyr)
import(methods)
